---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "David Turner"
const role = "Software Developer"
---

<BaseLayout pageTitle={pageTitle}>
  <h2>{role}</h2>
  Southampton, UK

  <p>
    Intelligent and talented software engineer with seventeen years industry
    experience primarily in the Microsoft technology stack (C#/.NET, SQL Server,
    Azure), and more recently with modern web frameworks such as React. I am
    eager to learn and welcome opportunities to widen my skill base. I have
    experience of all aspects of the software development lifecycle including
    gathering product requirements and incorporating customer feedback, software
    packaging and deployment, post-release review, and ongoing technical
    support. I have good communication skills and prefer to work as part of a
    responsive and innovative team.
  </p>
</BaseLayout>
