---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home Page";
// this isn't shown because of the redirects in astro.config.mjs
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome subtitle</h2>
</BaseLayout>
